@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  border: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;
  a {
    text-decoration: none;
  }
  button {
    background: none;
    cursor: pointer;
  }
}

:root {
  --primary: #1976d2;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #4b4b4b;
}

:root .dark-theme {
  --primary: #0d47a1;
  --body: #4b4b4b;
  --text-menu: #fff;
  --text-body: #fff;
}

body {
  background-color: var(--body);
}

.container {
  margin: 0 auto;
  width: 510px;
  h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 50px 0 10px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  h1,
  p {
    color: var(--text-body);
  }
}
